<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.purchaselibimpl">

    <application>
        <activity
            android:name=".PurchaseActivity"
            android:exported="false" />
    </application>

</manifest>